* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1 {
  color: pink;
}

h2 {
  color: white;
  text-align: center;
}

h1 {
  background: rgb(73, 72, 73);
  padding: 10px;
  text-align: center;
  font-size: 40px;
  margin: 0;
}

h2 {
  background: rgb(73, 72, 73);
  padding: 10px;
  font-size: 18px;
  margin: 0;
  font-style: italic;
  font-weight: 400;
}

p {
  line-height: normal;
}

h3 {
  background: pink;
  padding: 8px;
  color: rgb(80, 79, 79);
}

.formation {
  color: rgb(151, 151, 151);
}

.licence {
  color: rgb(151, 151, 151);
}

.equipe {
  line-height: normal;
}

h5 {
  font-size: 16px;
}

.moncv {
  display: flex;
  justify-content: space-between;
}

.colgauche {
  width: 20%;
  margin: 15px;
  padding: 15px;
  background: pink;
  margin-top: -50px;
}

.coldroite {
  width: 70%;
}

h6 {
  color: white;
  background-color: pink;
  letter-spacing: 8px;
  font-size: +20px;
}

.langue {
  background-color: pink;
}

.colgauche > img {
  transform: translateY(-30%);
}

.contact {
  margin: 0;
}

body {
  margin: 0;
}

.langue > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.coldroite > p {
  line-height: 25px;
}
